#social-networks {
    border-top-left-radius: 50rem;
    border-bottom-left-radius: 50rem;
    height: 10%;
    margin-top: 25%;
}

header {
    padding-top: 5rem;
    padding-left: 15%;
}

.header-text {
    margin-bottom: 4rem;
}

.zoom {
    transition: transform .2s;
  }
  
  .zoom:hover {
    transform: scale(1.5);
  }