#social-networks {
    border-top-left-radius: 50rem;
    border-bottom-left-radius: 50rem;
    height: 10%;
    margin-top: 25%;
}

header {
    padding-top: 5rem;
    padding-left: 15%;
}

.double-button {
    margin-top: 4rem;
}

.btn-pink {
    width: 150px;
    padding: 1.2rem 0;
    border-radius: 40px;
}

.zoom {
    transition: transform .2s;
  }
  
  .zoom:hover {
    transform: scale(1.5);
  }