@font-face {
  font-family: "product_sansregular";
  src: url("./fonts/product_sans_regular-webfont.woff2") format("woff2"),
    url("./fonts/product_sans_regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

h1,
h2 {
  font-family: product_sansregular, sans-serif;
  font-weight: bold;
  font-size: 3rem;
}
h1 {
  font-size: 4.5rem;
}

p {
  font-size: 1.5rem;
  line-height: 2;
  text-align: justify;
  font-weight: 300;
}

.btn-lg {
  width: 180px;
}

.cta-button {
  margin-right: 3rem;
}

@media (max-width: 512px) {
  .cta-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
  }
}

/* Header */
#header {
  height: 100vh;
}

@media (max-width: 1139px) {
  #header {
    padding-left: 3%;
    padding-right: 3%;
    text-align: center;
  }
}

/* Skills */
.technologies .col,
.technologies .col p {
  text-align: center;
}
/* PROJECTS */
#projects .col,
#projects .col p {
  text-align: center;
}

/* FOOTER */
footer,
footer i {
  color: #fff;
}
