@font-face {
  font-family: "product_sansregular";
  src: url("./fonts/product_sans_regular-webfont.woff2") format("woff2"),
    url("./fonts/product_sans_regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.row {
  margin-right: 0;
}

h1,
h2 {
  font-family: product_sansregular, sans-serif;
  font-weight: bold;
  font-size: 3rem;
}
h1 {
  font-size: 3.9rem;
}

h2 {
  padding: 48px 0;
  margin: 0;
}

h2,
h3,
.description {
  text-align: center;
}

p {
  font-size: 1.5rem;
  line-height: 2;
  text-align: justify;
  font-weight: 300;
}

.btn-lg {
  width: 180px;
}

.cta-second {
  margin-left: 3rem;
}

@media (max-width: 721px) {
  .cta-button {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
  }

  .cta-second {
    margin-left: 0;
  }
}

#header {
  height: 100vh;
}

#me {
  max-height: 80vh;
  background: url(./components/header/florian-assante.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right top;
}

#myPicture {
  display: none;
}

@media (max-width: 1199px) {
  #header {
    height: auto;
    text-align: center;
    padding-bottom: 48px;
  }

  #introduction {
    text-align: center;
  }

  #computer {
    display: none;
  }

  #me {
    background: none;
  }

  #myPicture {
    display: inline-block;
    max-height: 300px;
    height: 40vh;
  }
}

@media (max-width: 954px) {
  #introduction {
    text-align: justify;
  }
}

/* Skills */
.technologies .col,
.technologies .col p {
  text-align: center;
}

.animated img {
  display: inline-block;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.animated:hover img {
  opacity: 0.3;
}

.animated p {
  color: #333;
  font-size: 16px;
  font-weight: bolder;
  margin: 0;
}

.middle {
  min-width: 50px;
  padding: 5%;
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.middle:hover {
  opacity: 1;
}

/* WWBSITES*/
#my-websites .websites:nth-child(odd) {
  flex-direction: row-reverse;
}

.websites {
  margin: 0 14% 70px 14%;
}

.website-image {
  box-shadow: 20px 15px 2px #f2f2f2;
}

@media (max-width: 1199px) {
  .website-image {
    box-shadow: none;
    margin-bottom: 30px;
  }
}

/* PROJECTS */
#projects .col,
#projects .col p {
  text-align: center;
}

/* FOOTER */
footer,
footer i {
  color: #fff;
}

#social-networks a {
  font-size: 1.5rem;
}
